<div id="<%= dom_id feedback %>">
  <p>
    <strong>Message:</strong>
    <%= feedback.feedback %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= feedback.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= feedback.name %>
  </p>

</div>
